@font-face {font-family: 'Bebas';src: url(BebasNeue-Regular.ttf);}
@font-face {font-family: 'Alfa';src: url(AlfaSlabOne-Regular.ttf);}
@font-face {font-family: 'Monserrat';src: url(Montserrat-Regular.ttf);}
.bebas{font-family: 'Bebas';}
.mons{font-family: 'Monserrat';}
.alfa{font-family: 'Alfa';}
.l5{letter-spacing: 5px;}
.l1{letter-spacing: 1px;}
.l2{letter-spacing: 2px;}
body{color: #3d2514;}
.trc{color: #3d2514;}
#head-menu{list-style: none;font-size: 1.75em;font-family: 'Bebas';}
.bebas{font-family: 'Bebas';}
#head-menu li{margin-right: 3em;}
#head-menu li:last-child{margin-right: 0;}
#head-menu li a{letter-spacing: 5px;color: #3d2514;text-decoration: none;}
.img-txt{color: #fff;top: 15px;left: 30px;z-index: 100;}
.img-txt2{color: #fff;top: 7.5%;left: 7.5%;z-index: 100;}
.img-txt2 > h3,h1{line-height: 95%;}
.img-txt3{color: #fff;top: 17.5%;left: 7%;z-index: 100;}
.hvi{width: 100%;z-index: -10;transition: .5s;}
.hoi{border-radius: 15px;overflow: hidden;}
.hvi:hover{transform: scale(1.1);}
.cycle{height: 30px;width: 30px;background-color: yellow;border-radius: 50%;}

/* BURXON */

.form{color: #4d3727;height: 91vh;width: 100%;font-family: bebas;}
.form h1, .form button{font-family: alfa;}
.form1{height: 300px;}
.w-200{width:20%  !important;}
.w-45{width: 45%;}
.w-40{width: 40%;}
.w-20{width: 18%;}
.w-70{width: 65%;}
.w-80{width: 80%;}
.w-85{width: 85%;}
.w-95{width: 95%;}
.top-40{top: 25%;}
.last-div{background-image: url("img/Place\ Your\ Design\ Here\ \(Double\ Click\ to\ Edit\)\ \(1\).jpg");height: 70vh;background-size: cover;background-repeat: no-repeat;}
.left-div{font-family: 'Monserrat';}
.col-11{font-family: 'Bebas';}

/* MUHAMMADAMIN */

header{
	height: 100vh;
	background-image: url(img/Rectangle.jpg);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(0 0 0);
    font-size: 25px;
    font-weight: 500;
}
.navbar-nav li a {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 4px;
    line-height: 30px;
    margin-left: 50px;
    position: relative;
    text-shadow: none;
    font-family: 'Bebas Neue',sans-serif;
    color: #3d2514;
}
.navbar .call-delivery-number {
    font-size: 17px;
    font-weight: 700;
    font-family: Montserrat,sans-serif;
}